<mat-toolbar
  class="header"
  [ngClass]="{'night-mode': nightMode, 'header-open': !headerIsOpen}">

  <div class="logo">
    <a routerLink="/">
      <img
        src="../../assets/logo/sprzetujemy-logo-white.svg"
        alt="logo"
        *ngIf="nightMode"/>
      <img
        src="../../assets/logo/sprzetujemy-logo-black.svg"
        alt="logo"
        *ngIf="!nightMode"/>
    </a>
  </div>

  <div class="menu-hamburger" (click)="onToggleHeader()">
    <i class="material-icons">
      menu
    </i>
  </div>

  <ul
    class="menu"
    [ngClass]="{'hidden': !headerIsOpen}">
    <li>
      <i class="material-icons">
        list
      </i>
      <a routerLink="/dashboard">Dashboard</a>
    </li>
    <!--<li><a routerLink="/board">Admin Page</a></li>-->
  </ul>



  <div
    class="tools-wrapper"
    [ngClass]="{'hidden': !headerIsOpen}">

    <div class="profile">
      <span>{{ recentUsername }}</span>
      <button (click)="onShowOptionList()">
        <i class="material-icons">
          account_circle
        </i>
      </button>
    </div>

    <div class="cart">
      <button (click)="onShowCartList()">
        <i class="material-icons">
          shopping_cart
        </i>
      </button>
      <span>{{ totalPrice | floatNumber }} PLN</span>
    </div>

    <div class="login">
      <a *ngIf="!userLoggedIn" routerLink="/login">Login</a>
      <a
        *ngIf="userLoggedIn"
        (click)="onLogOut()"
        routerLink="/board" title="Log out">
        <i class="material-icons">
          power_settings_new
        </i>
      </a>
    </div>

  </div>

</mat-toolbar>


