.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  z-index: 10;
  transition: all .5s;

}

.logo {
  height: 45px;
  width: 250px;

  img {
    height: 100%;
  }
}



.menu {
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .8rem;
    line-height: .8rem;
    background-color: #294936;
    //background-color: #1b7025;
    border-radius: 2px;
    height: 35px;
    padding: 0 10px;

    i {
      color: #FFFFFF;
    }

    a:last-child {
      padding-left: .5rem;
      text-decoration: none;
      color: #FFFFFF;
    }

    a:hover{
      transition: all .5s;
      color: white;
    }
  }
}

.menu-hamburger {
  position: absolute;
  top: 15px;
  right: 0;
  width: 24px;
  height: 24px;
}


.night-mode-toggle {
  height: 35px;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: .7rem;
  border-right: 1px solid #aaaaaa;
}

//.menu {
//  border-left: 1px solid #aaaaaa;
//  border-right: 1px solid #aaaaaa;
//}



.tools-wrapper {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .cart {
    display: flex;
    align-items: center;
    padding-left: .5rem;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: #FFF;
      cursor: pointer;
    }

    span {
      font-size: .8rem;
      padding-right: .5rem;
    }
  }

  .profile {
    display: flex;
    flex-direction: row;
    height: 32px;
    //background-color: #FFFFFF;
    border-radius: 50%;

    span {
      font-size: .8rem;
      padding-right: .3rem;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: #FFF;
      cursor: pointer;

      i {
        line-height: 32px;
      }
    }

  }

  .login {

    background-color: #294936;
    border-radius: 2px;
    height: 35px;
    transition: all .5s;
    a {
      transition: all .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      color: #FFFFFF;
      text-decoration: none;
      font-size: .8rem;
      line-height: 35px;

      i {
        position: relative;
        line-height: 35px;
      }
    }

    a[title="Log out"] {
      background-color: rgba(242, 175, 41, 0.85);
      border-radius: 5px;
    }
  }
}

@media only screen and (max-width: 639px) {
  .tools-wrapper {
    min-width: 200px;
    //display: none;
  }
}

//.mat-toolbar-single-row {
//  height: auto;
//}
@media only screen and (max-width: 599px) {
  .header {
    padding-bottom: .5rem;
    flex-direction: column;
    align-items: flex-end;
  }

  .logo {
    width: auto;
    align-self: flex-start;
  }

  .menu-hamburger {
    display: block;
  }

  .menu {
    order: 2;
    align-self: center;
  }

  .mat-toolbar-single-row {
    height: auto;
  }

  .tools-wrapper {
    padding: .5rem 0;
    order: 1;

  }
}

@media only screen and (min-width: 600px) {
  .menu-hamburger {
    display: none;
  }
}
