<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2>Login to sprzetujemy</h2>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Your login or e-mail @"
        formControlName="username"
      >
    </mat-form-field>
    <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">

        Please enter your email</span>


    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Your Password ***"
        formControlName="password"
      >
    </mat-form-field>
    <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">

        Please enter your password</span>

    <button mat-raised-button type="submit">Login</button>
    <div class="auth-option-link">
      <span>or</span>
      <a routerLink="/register">Register</a>
    </div>

  </form>
</div>
