<div class="sort-wrapper">
  <div class="sort-form">
    <i class="material-icons"
       (click)="onShowSortFiled()"
      [ngClass]="{'icon-active': !sortFieldHidden}">
      sort_by_alpha
    </i>
    <mat-form-field *ngIf="!sortFieldHidden">
      <h4>Sort By</h4>
      <select matNativeControl required
              [(ngModel)]="sortItemsBy"
              (ngModelChange)="onSortOptionSelected($event)">
        <option value="price">Price (low to high)</option>
        <option value="priceHL">Price (high to low)</option>
        <option value="name">Name</option>
      </select>
    </mat-form-field>
    <button
      *ngIf="!sortFieldHidden"
      mat-raised-button
      (click)="onSortSubmit()">Go!</button>
  </div>


  <div class="find-product">
    <i class="material-icons"
       (click)="onShowFindProductField()"
       [ngClass]="{'icon-active': !findProductFieldHidden}">
      search
    </i>

    
    <form [formGroup]="searchForm" *ngIf="!findProductFieldHidden">
      <mat-form-field>
        <input
          matInput
          placeholder="What you looking for ?"
          formControlName="findProductInput"
          [matAutocomplete]="auto"
        >
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let name of productsDBName" [value]="name">{{name}}</mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>

<div class="products-wrapper">

  <!--<app-product-->
    <!--class="product-wrapper"-->
    <!--*ngFor="let singleProductFromCategory of allProductsFromCategory"-->
    <!--[singleProductFromCategory]="singleProductFromCategory">-->
  <!--</app-product>  -->

  <app-product
    class="product-wrapper"
    *ngFor="let singleProductDB of productsDB"
    [singleProductDB]="singleProductDB"
    id="{{singleProductDB.id}}">
  </app-product>

</div>
