.sort-wrapper {
  min-height: 45px;
  width: 100%;
  background-color: #444444;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;

  i {
    margin-right: .5rem;
    padding: 2px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  }

  .sort-form {
    display: flex;
    align-items: center;
    //width: 100%;
    button {
      margin-left: 10px;
      background-color: #0E79B2;
    }
  }

  .find-product {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;

    .search-result {
      //display: none;
      width: 100%;
      background-color: #444444;
      position: absolute;
      top: calc(100%);
      left: 0;
      color: #F2AF29;
      z-index: 100;
      p {
        padding: 5px 10px;
        text-align: left;
        font-size: 1rem;
        cursor: pointer;
        transition: all .5s;
      }

      p:hover {
        transition: all .5s;
        color: #FFFFFF;
      }
    }
  }

  .icon-active {
    //background-color: #009FFD;
    background-color: #0F82BF;
  }
}



.products-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.product-wrapper {
  width: 30%;
}


.mat-option {
  font-size: 12px;
  color: #F2AF29;
}


@media only screen and (min-width: 1000px) {
  .products-wrapper {
    //width: 49%;
    width: 100%;
  }
}

@media only screen and (max-width: 999px) {
  .product-wrapper {
    width: 81%;
  }
}
