<div class="edit-wrapper">
  <form [formGroup]="editProductForm" (ngSubmit)="onUpdateProductInfo()" (keydown)="onFormChange()">
    <mat-form-field class="edit-name">
      <input
        matInput
        placeholder="Product name"
        formControlName="name">
    </mat-form-field>
    <div class="main-info-input">
      <mat-form-field class="edit-small edit-price">
        <input
          matInput
          placeholder="Product price"
          formControlName="price">
      </mat-form-field>


      <mat-form-field class="edit-small">
        <mat-select
          placeholder="Product category"
          formControlName="type">
          <mat-option *ngFor="let category of productCategory" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="edit-small">
        <input
          matInput
          placeholder="Product color"
          formControlName="color">
      </mat-form-field>
    </div>

    <mat-form-field class="edit-desc">
        <textarea
          rows="7"
          matInput
          placeholder="Product description"
          formControlName="description"></textarea>
    </mat-form-field>
    <div class="main-info-photos"
         formArrayName="photos">
      <div
        class="info-photo-edit"
        *ngFor="let photoControl of editProductForm.get('photos').controls; let i = index;"
        [ngStyle]="{'background-image': 'url(' + productPhotos[i] + ')'}"
        [ngClass]="{'on-edit-photo': photoIsEdited}">

        <div class="photo-input" *ngIf="!photoInputHidden">
          <mat-form-field>
          <textarea
            (keyup)="clearPhotoValue(i)"
            rows="5"
            matInput
            placeholder="Product photo URL no.{{i+1}}"
            [formControlName]="i"
          ></textarea>
          </mat-form-field>
          <span
            *ngIf="editProductForm.get('photos').at(i).valid && editProductForm.get('photos').at(i).dirty"
            (click)="onUpdateProductPhoto(i)">
            <i class="material-icons">
              save
            </i>
          </span>
          <span class="item-delete" (click)="onDeleteProductPhotoInput(i)">
            <i class="material-icons">
              delete_forever
            </i>
          </span>
          <div
            class="form-alert-msg"
            *ngIf="!editProductForm.get('photos').at(i).valid && editProductForm.get('photos').at(i).touched">
            Please enter valid Photo URL</div>
        </div>

        <div class="info-photo-edit-control">
          <span class="item-edit" (click)="onEditPhoto()">
            <i class="material-icons">
              edit
            </i>
          </span>
          <span
            class="item-delete"
            (click)="onDeleteProductPhotoInput(i)">
            <i class="material-icons">
              delete_forever
            </i>
          </span>
        </div>
      </div>
      <div class="info-photo-edit info-photo-add center">
        <i class="material-icons" (click)="onAddProductPhotoInput()">
          add
        </i>

      </div>
      <!--<div class="info-photo-edit"></div>-->
      <!--<div class="info-photo-edit"></div>-->
      <!--<div class="info-photo-edit"></div>-->
      <!--<div class="info-photo-edit"></div>-->
    </div>
    <button mat-raised-button type="submit">Save changes</button>
  </form>
</div>
