.edit-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    width: 540px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #212121;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
    text-align: center;
    margin: 1rem 0;

    .edit-name {
      width: 100%;
    }

    .main-info-input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .edit-small {
      min-width: 200px;
    }

    .edit-desc {
      width: 100%;
      .mat-form-field-label {
        font-size: 12px;
      }
    }

    .main-info-photos {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      .info-photo-edit {
        position: relative;
        box-sizing: border-box;
        margin: 10px;
        width: 130px;
        height: 130px;
        background-color: #294936;
        display: flex;
        //justify-content: flex-end;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

        .photo-input {
          width: 100%;

          mat-form-field {
            width: 100%;
          }
          span {
            display: inline-block;
            cursor: pointer;
            transition: all .5s;
            box-sizing: border-box;
            height: 28px;
            margin-right: 1rem;
            i {
              box-sizing: border-box;
              height: 100%;
              padding: 2px;
            }
          }
          span:hover {
            transition: all .5s;
            background-color: #1DBB50;
          }
          .item-delete{
            margin-right: 0rem;
          }
          .item-delete:hover {
            background-color: #FF3C38;
          }
        }

        .info-photo-edit-control {
          position: absolute;
          top: 50%;
          left: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          top: 50%;
          left: 0%;
          width: 100%;
          height: 50%;
          //background-color: #F2AF29;
          opacity: 0;
          transition: all .5s;

          span {
            i {
              transition: all .5s;
              background-color: #F2AF29;
              padding: 2px;
              box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
            }
          }

          .item-edit:hover {
            i {
              transition: all .5s;
              background-color: #0E79B2;
            }
          }

          .item-delete:hover {
            i {
              transition: all .5s;
              background-color: #FF3C38;
            }
          }
        }
      }
      //last child of photo
      .info-photo-edit:last-child::after {
          display: none;
      }

      .info-photo-add {
        background-color: transparent;
        cursor: auto;
        i {
          cursor: pointer;
          color: #1DBB50;
          box-sizing: border-box;
          padding: .5rem;
          border-radius: 50%;
          border: 1.5px solid #1DBB50;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
          transition: all .5s;
        }

        i:hover {
          background-color: rgba(244, 249, 233, .1);
          transition: all .5s;
        }
      }


      .info-photo-edit::after {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(48, 48, 48, .6);
        content: "Manage Photo";
        box-sizing: border-box;
        padding-top: 1.5rem;
        z-index: 1;
        color: #F2AF29;
        font-weight: bold;
        font-size: 1rem;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        opacity: 0;
        transition: all .5s;
      }

      .info-photo-edit:hover::after {
        opacity: 1;
        transition: all .5s;
      }
      .info-photo-edit:hover .info-photo-edit-control {
        z-index: 5;
        opacity: 1;
        transition: all .5s;
      }
    }

    button {
      background-color: #0E79B2;
      box-sizing: border-box;
      margin-top: 1rem;
    }
  }
}

.on-edit-photo {
  background-image: none !important;
  cursor: auto !important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  padding: 5px;
  box-sizing: border-box;
  textarea {
    overflow-y: scroll;
  }
  textarea::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
  }

  textarea::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  textarea::-webkit-scrollbar-thumb {
    background-color: #F2AF29;
  }
}

.on-edit-photo::after {
  display: none !important;
}

.on-edit-photo .info-photo-edit-control {
  display: none !important;
}


.form-alert-msg {
  color: #f44336;
  font-weight: bold;
  padding: 2px;
}


@media only screen and (orientation: portrait) {
  .edit-wrapper {
    width: 100%;
    form {
      max-width: 320px;
      .edit-small {
        max-width: 130px;
        min-width: auto;
      }

      .main-info-photos {
        .info-photo-edit {
          margin: 5px;
        }
      }
    }
  }
}
