.modal-img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {

  .modal-img {
    img {
      height: auto;
      width: 100%;
    }
  }
}
