<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h2>Register to sprzetujemy</h2>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Your e-mail @"
        formControlName="username"
      >
    </mat-form-field>
    <!--{{usernameDuplicate}}-->
    <!--{{registerForm.get('username')}}-->
    <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched">
        Please enter your email
    </span>

    <span class="username-taken" *ngIf="usernameDuplicate">
      {{registerForm.value.username}}
      is already taken, choose another one.
    </span>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Your Password ***"
        formControlName="password"
      >
    </mat-form-field>
    <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
        Please enter your password
    </span>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="First name"
        formControlName="firstName"
      >
    </mat-form-field>
    <span *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched">
        Please enter your first name
    </span>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Last name"
        formControlName="lastName"
      >
    </mat-form-field>

    <span *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched">

        Please enter your last name</span>

    <button mat-raised-button type="submit" class="register-btn">Register</button>
    <div class="auth-option-link">
      <span>or</span>
      <a routerLink="/login">Login</a>
    </div>


  </form>
</div>
