
<div class="modal-wrapper">
  <p>You going to delete</p>
  <div class="item-container">
    <div class="item-photo" [ngStyle]="{'background-image': 'url(' + data.photos[0] + ')'}">

    </div>
    <p>{{data.name}}</p>
  </div>
  <div class="item-accept">
    <p>Are you sure?</p>
    <button mat-raised-button (click)="deleteItem()">Yes</button>
    <button mat-stroked-button (click)="closeDialog()">No</button>
  </div>
</div>

