.modal-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .item-container {
    box-sizing: border-box;
    margin: 2.5rem 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF3C38;
    .item-photo {
      height: 200px;
      width: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    >p {
      width: 60%;
      font-size: 1rem;
    }
  }

  .item-accept {
    text-align: center;
    button {
      background-color: #FF3C38;
    }
    button:last-child {
      margin-left: .5rem;
      background-color: transparent;
    }
  }


  p {
    font-size: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
}
