.product {
  width: 95%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
  text-align: center;
  // cursor: pointer;

  .product-info {
    box-sizing: border-box;
    padding-top: .5rem;
    position: relative;

    .product-head {
      padding: .5rem 0;
      position: absolute;
      z-index: 10;
      width: 100%;

      top: .5rem;
      left: 0;
      background-color: rgba(33, 33, 33, .5);
      mat-card-content {
        width: 100%;
        margin-bottom: .8rem;
        h4 {
          padding: .2rem 0;
        }
      }
    }


  }


  .img-wrapper {
    width: 100%;
    height: 250px;
    background-position: left;
    background-size: 110%;
    background-repeat: no-repeat;
    margin-bottom: .5rem;
    transition: all 1s;
    //img.mat-card-image {
    //  width: 100%;
    //  height: auto;
    //  margin: 0;
    //  //margin-top: auto;
    //}
    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    a::before {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      content: "Show product";
      height: 100%;
      width: 100%;
      background-color: rgba(33, 33, 33, .5);
      font-size: 2rem;
      color: #F2AF29;
      font-weight: bold;
      letter-spacing: .4px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s;
      opacity: 0;
    }

    a:hover::before {
      opacity: 1;
    }
  }

  .img-wrapper:hover {
    transition: all 1s;
    background-position: center;
  }

  .product-manage {
    mat-expansion-panel {
      margin-bottom: 0.5rem;
    }

    button {
      width: 100%;
      background-color: #294936;
    }
  }
}

@media only screen and (max-width: 999px) {
  .product {
    width: 100%;
  }
}
