
  <!--<div class="product">-->
    <!--<div class="product-info">-->
      <!--<div class="product-head">-->
        <!--<mat-card-title>-->
          <!--<h4>{{ singleProductFromCategory.name }}</h4>-->
        <!--</mat-card-title>-->
        <!--<mat-card-content>-->
          <!--<h4>Price: {{ singleProductFromCategory.price }} PLN</h4>-->
        <!--</mat-card-content>-->
      <!--</div>-->
      <!--<div class="img-wrapper" [ngStyle]="{'background-image': 'url(' + singleProductFromCategory.photo + ')'}">-->
        <!--&lt;!&ndash;<img mat-card-image [src]="">&ndash;&gt;-->
        <!--<a href="#"></a>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="product-manage">-->
      <!--<mat-expansion-panel>-->
        <!--<mat-expansion-panel-header>-->
          <!--<mat-panel-title>-->
            <!--More info-->
          <!--</mat-panel-title>-->
        <!--</mat-expansion-panel-header>-->
        <!--<h4>{{ singleProductFromCategory.name }}</h4>-->
        <!--<h4>Color: {{ singleProductFromCategory.color }}</h4>-->
        <!--<h4>Category: {{ singleProductFromCategory.type }}</h4>-->

      <!--</mat-expansion-panel>-->
      <!--<button mat-raised-button-->
              <!--(click)="addProductToCart(singleProductFromCategory)">-->
        <!--Add to cart-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->


  <div class="product">
    <div class="product-info">
      <div class="product-head">
        <mat-card-title>
          <h4>{{ singleProductDB.name }}</h4>
        </mat-card-title>
        <mat-card-content>
          <h4>Price: {{ singleProductDB.price }} PLN</h4>
        </mat-card-content>
      </div>
      <div class="img-wrapper" [ngStyle]="{'background-image': 'url(' + singleProductDB.photos[0] + ')'}">
        <!--<img mat-card-image [src]="">-->
        <a [routerLink]="['/product-info', singleProductDB.id]"
          (click)="getSingleProductDB(singleProductDB)"></a>
      </div>
    </div>

    <div class="product-manage">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            More info
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h4>{{ singleProductDB.name }}</h4>
        <h4>Color: {{ singleProductDB.color }}</h4>
        <h4>Category: {{ singleProductDB.type }}</h4>

      </mat-expansion-panel>
      <button mat-raised-button
              (click)="addProductToCart(singleProductDB)">
        Add to cart
      </button>
    </div>
  </div>
