.info-header {
  text-align: center;
  padding-top: 1rem;
  font-size: 1rem;
}

.form-wrapper {
  //width: 100%;
  //height: calc(100vh - 64px);

  //padding-top: 1rem;
}
.add-product-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .add-product-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .add-product-extras {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

