
<div class="add-product-wrapper">
  <div class="add-product-form">
    <div class="info-header"><h3>Add your product here</h3></div>
    <app-form></app-form>
  </div>
  <!--<div class="add-product-extras">Tutaj cos bedzie</div>-->
</div>


