<div class="floating-box-items" [ngClass]="{'floating-box-items-hidden': !cartState.isOpen}">
  <p *ngIf="cartState.products === undefined || cartState.products.length === 0">This is awesome cart add your items here</p>
  <ul class="floating-box-items-list">
    <li *ngFor="let product of cartState.products; index as item">
      <button (click)="deleteItemFromCart(item)">
        <i class="material-icons">
          delete_forever
        </i>
      </button>
      <span>{{ product.quantity }} x</span>
      <div>
        <h4>{{ product.name }}</h4>
        <h4>{{ product.price }} PLN</h4>
      </div>
    </li>
  </ul>
  <p>Total: {{ cartState.totalPrice | floatNumber }} PLN</p>
  <button mat-button class="floating-box-toggler" (click)="onHideCartList()">close</button>
</div>

