.form-container {
  padding: 20px;
  width: 310px;
  position: relative;
  //border: 1px solid white;
  //box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
      width: 100%;
      padding: 10px 10px 0 10px;
    }

    mat-checkbox {
      box-sizing: border-box;
      padding-top: 1rem;
      align-self: flex-start;
      width: 100%;
    }

    button {
      justify-self: center;
      margin-top: 20px;
    }
  }

  //.form-description {
  //  position: absolute;
  //  left: 100%;
  //  top: 20px;
  //  width: 100px;
  //  height: calc(100% - 40px);
  //  background: black;
  //}

  .form-help-btn {
    //background-color: #F2AF29;
    width: 100%;
    > span {
      padding-left: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i {
        margin-left: .5rem;
        padding: 2px;
        font-size: .8rem;
        cursor: pointer;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
      }
    }

    .hide-elements {
      transition: all .5s;
      color: #F2AF29;
      i:nth-child(2) {
         color: #0E79B2;
      }
    }

    mat-form-field {
      transition: all .5s;
    }
  }

  .form-alert-msg {
    box-sizing: border-box;
    padding: .5rem 0;
  }
}

[formarrayname=photos] {
  text-align: center;
}

.photo-input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  span{
    font-size: .2rem;
    cursor: pointer;

    i {
      color: #FF3C38;
    }
  }

}
