
<!--<app-form class="form-wrapper"></app-form>-->
<div class="form-container">
  <form [formGroup]="addProductForm" (ngSubmit)="onSubmitAddProduct()">

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Product name"
        formControlName="name"
        >
    </mat-form-field>
    <span
      class="form-alert-msg"
      *ngIf="!addProductForm.get('name').valid && addProductForm.get('name').touched">
        Please enter Product name</span>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Product color"
        formControlName="color"
        >
    </mat-form-field>
    <span
      class="form-alert-msg"
      *ngIf="!addProductForm.get('color').valid && addProductForm.get('color').touched">
        Please enter Product color</span>

    <mat-form-field>
      <mat-select
        placeholder="Product category"
        formControlName="type">
        <mat-option *ngFor="let category of productCategory" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span
      class="form-alert-msg"
      *ngIf="!addProductForm.get('type').valid && addProductForm.get('type').touched">
        Please select Product category</span>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Product price"
        formControlName="price"
      >
    </mat-form-field>
    <span
      class="form-alert-msg"
      *ngIf="!addProductForm.get('price').valid && addProductForm.get('price').touched">
        Please enter Product Price</span>


    <div class="form-help-btn">
      <span *ngIf="descriptionFieldHidden">Add description
        <i class="material-icons" (click)="onShowDescriptionField()">
          add
        </i>
      </span>

      <span
        class="hide-elements"
        *ngIf="!descriptionFieldHidden">Hide description
        <i class="material-icons" (click)="onShowDescriptionField()">
          remove
        </i>
      </span>

      <mat-form-field
        class="example-full-width"
        *ngIf="!descriptionFieldHidden">
        <textarea
          rows="4"
          matInput
          placeholder="Product description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>


    <div formArrayName="photos" class="form-help-btn">

      <span *ngIf="addPhotoFieldHidden">Add photos
        <i class="material-icons" (click)="onShowAddPhotoField()">
          add
        </i>
        <i class="material-icons" (click)="onAddPhotoInput()">
          add_photo_alternate
        </i>
      </span>

      <span
        class="hide-elements"
        *ngIf="!addPhotoFieldHidden">Hide photos
        <i class="material-icons" (click)="onShowAddPhotoField()">
          remove
        </i>
        <i class="material-icons" (click)="onAddPhotoInput()">
          add_photo_alternate
        </i>
      </span>

      <div *ngIf="!addPhotoFieldHidden">
        <div
          class="photo-input-field"
          *ngFor="let photoControl of addProductForm.get('photos').controls; let i = index"
        >
          <mat-form-field class="example-full-width photo-input">
            <input
              matInput
              placeholder="Product photo URL no.{{i+1}}"
              [formControlName]="i"
            />
          </mat-form-field>
          <span (click)="onDeletePhotoInput(i)">
          <i class="material-icons">
            delete_forever
          </i>
        </span>
        </div>
        <span
          class="form-alert-msg"
          *ngIf="!addProductForm.get('photos').valid && addProductForm.get('photos').touched">
        Please enter Product Photo URL</span>
      </div>


    </div>


    <!--<span-->
      <!--*ngIf="!addProductForm.get('photo').valid && addProductForm.get('photo').touched">-->
        <!--Please enter Product Photo URL</span>-->

    <mat-checkbox formControlName="checkbox">Check if you are sure to add New Product</mat-checkbox>
    <button mat-raised-button type="submit">Add product</button>
  </form>
</div>

