<div class="edit-product-wrapper">
  <div class="info-header"><h3>Edit your product here</h3></div>
  <div class="edit-product-container">
    <app-edit-single-product class="edit-product-item" *ngFor="let product of products" [product]="product"></app-edit-single-product>
  </div>
</div>
