.info-header {
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0;
}


.edit-product-wrapper {
  height: 100%;
  padding: 0 10px 10px 10px;
  .edit-product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
  }
}

@media only screen and (orientation: portrait) {
  .edit-product-wrapper {
    .edit-product-container {
      justify-content: center;
    }
  }
}
