.board-container {
  min-height: calc(100vh - 64px);

  .side-container {
    width: 320px;
    text-align: center;
    display: flex;
    background-color: transparent;

    h2 {
      //border-bottom: 1px solid #2F6690;
      padding: 1rem 0;
    }

    div {
      mat-card {
        background-color: #2F6690;
        margin: 0 auto;
        width: 80%;
        margin-bottom: .5rem;

        h3 {
          text-align: left;
          font-size: 1rem;
        }
      }

      mat-card-content {
        ul {
          li {
            font-size: .75rem;
            padding: .225rem;

            a {
              text-decoration: none;
              color: #FFFFFF;
            }
          }

          li:hover > a {
            transition: all .5s;
            color: #2f6690;
          }
        }
      }
    }
  }

  mat-drawer-content {
    min-width: 320px;
    min-height: 100vh;
  }
}

mat-drawer {
  //position: relative;
}

.drawer-toggler {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #F2AF29;

  .icon-rotate {
    transform: rotate(180deg);
    transition: all .5s;
    pointer-events: none;
  }

}

