<mat-drawer-container class="board-container" [ngClass]="{'night-mode-main': nightMode}">
  <mat-drawer
    class="side-container"
    mode="side" [opened]="!drawerClosed"
    >

    <h2>Admin Area</h2>

    <div>
      <mat-card>
        <h3>Manage Products</h3>
      </mat-card>

      <mat-card-content>
        <ul>
          <li (click)="toggleDrawer()"><a routerLink="add-product">Add Product</a></li>
          <li (click)="toggleDrawer()"><a routerLink="manage-product">Edit / Delete Product</a></li>
          <!--<li>Delete Product</li>-->
          <!--<li>Show All Products</li>-->
          <li></li>
        </ul>
      </mat-card-content>
    </div>

  </mat-drawer>


  <mat-drawer-content>
    <div class="drawer-toggler center"
         (click)="toggleDrawer()">
      <i
        class="material-icons"
        [ngClass]="{'icon-rotate': drawerClosed}">
        chevron_left
      </i>
    </div>
    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>

