.floating-box-items-list{

  li {
    border: none;
    padding-right: 10px;
    padding-left: 10px;
  }

  li:last-child{
    margin-top: 20px;
    border: none;
  }

  .admin-item {
    a {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: #FFFFFF;

    }
    background-color: #212121;

  }
}
