<div class="floating-box-items" [ngClass]="{'floating-box-items-hidden': !optionListIsOpen}">

  <ul class="floating-box-items-list">
    <li>
      <span>profile</span>
      <i class="material-icons">
        account_circle
      </i>
    </li>
    <li>
      <span>music</span>
      <i class="material-icons">
        music_note
      </i>
    </li>
    <li class="admin-item" *ngIf="userRoleAndUsername.role === 'Admin'">
      <a routerLink="/board"
        (click)="onToggleOptionList()">
        <span>admin page</span>
        <i class="material-icons">
          person_outline
        </i>
      </a>
    </li>
    <li>
      <span>options</span>
      <i class="material-icons">
        settings
      </i>
    </li>
    <li>
      <span>mode</span>
      <mat-slide-toggle
        class="night-mode-toggle"
        [(ngModel)]="nightMode"
        (change)="onChangeNightMode()">{{ nightMode ? 'Night' : 'Day' }} Mode
      </mat-slide-toggle>
    </li>
  </ul>
  <button mat-button class="floating-box-toggler" (click)="onToggleOptionList()">close</button>
</div>

