<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidenav"
               fixedInViewport="true"
               [opened]="true"
               [ngClass]="{'sidenav-closed': !sideNavOpen}"
              >
    <mat-nav-list class="nav-button-cont">
      <div
        class="nav-button"
        (click)="toggleSideNav()"
        [ngClass]="{'sidenav-btn-rotate': !sideNavOpen}">
        <i class="material-icons">
          chevron_left
        </i>
      </div>
    </mat-nav-list>
    <mat-nav-list class="nav-list">
      <a mat-list-item
          *ngFor="let category of categories"
          routerLinkActive="active-route"
          routerLink="/dashboard/equipment"
          [queryParams]="{type: category.type}"
          (click)="onShowCategoryProducts(category.type)">{{ category.type }}</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-cont">
    <!--<app-products class="dashboard-products-wrapper" [category]="chosenCategory"></app-products>-->
    <!--<router-outlet></router-outlet>-->
    <app-products class="dashboard-products-wrapper" [productsDB] = "allProducts"></app-products>
  </mat-sidenav-content>


</mat-sidenav-container>





