
.sidenav-container {
  pointer-events: none;
  padding-bottom: 2rem;
}

.sidenav {
  width: 200px;
  min-height: calc(100vh - 64px);
  transition: all .08s ease-out;
  background-color: #212121;
  pointer-events: initial;

  mat-nav-list {
    padding-top: 64px;
    width: 100%;
  }
  .nav-button-cont {
    position: relative;

    .nav-button {
      position: absolute;
      height: 32px;
      width: 32px;
      top: 64px;
      right: 0px;
      //background-color: #F2AF29;
      background-color: rgba(242, 175, 41, .8);
      z-index: 10;
      line-height: 32px;
      vertical-align: middle;
      text-align: center;
      font-size: 22px;
      cursor: pointer;
      pointer-events: initial;

      i {
        line-height: 32px;
        transform: rotate(0);
        transition: all .3s;
        pointer-events: none;
      }
    }

    //help class
    .sidenav-btn-rotate {
      i {
        transform: rotate(180deg);
        transition: all .5s;
        pointer-events: none;
      }
    }
  }
}

.sidenav-closed {
  transition: all .3s ease-in;
  width: 32px;
  background-color: #8E8E8E;

  .nav-list {
    display: none;
  }

}

.content-cont {
  pointer-events: initial;
  min-height: calc(100vh - 64px);
  //padding-top: 10px;
  //padding-left: 32px;
  //padding-right: 10px;
  text-align: right;

}

.dashboard-products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .dashboard-products-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 599px) {
  .sidenav {

    mat-nav-list {
      padding-top: 86px;
    }
    .nav-button-cont {
      .nav-button {
        top: 139px;
      }
    }
  }
}

//help class
.active-route {
  background-color: #294936;
  transition: all .5s;
}



