.single-product-item {
  height: 100px;
  background-color: #294936;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;


  .single-product-item-img {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  p {
    padding: 5px;
    width: 200px;
    text-align: center;
    font-size: 1rem;
  }

  .item-controls {
    opacity: 0;
    transition: all .5s;
    box-sizing: border-box;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 50px;
    //background-color: rgba(242, 175, 41, .85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    span {
      cursor: pointer;
      i {
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
        background-color: rgba(242, 175, 41, .85);
        box-sizing: border-box;
        padding: 2px;
        transition: all .5s;
      }
    }

    .item-delete:hover {
      i {
        transition: all .5s;
        background-color: #FF3C38;
      }
    }

    .item-edit:hover {
      i {
        transition: all .5s;
        background-color: #0E79B2;
      }
    }
  }
}

.single-product-item::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "Manage Product";
  z-index: 1;
  background-color: rgba(48, 48, 48, .8);
  color: #F2AF29;
  font-weight: bold;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .5s;
}

.single-product-item:hover::after {
  opacity: 1;
  transition: all .5s;
  cursor: auto;
}


.visible {
  opacity: 1 !important;
}


