
<div class="single-product-item" (mouseenter)="onShowControls()" (mouseleave)="onShowControls()">
  <div class="single-product-item-img" [ngStyle]="{'background-image': 'url(' + product.photos[0] + ')'}"></div>
  <p>{{product.name}}</p>

  <div class="item-controls" [ngClass]="{'visible': !itemControlsHidden}">
    <span
      class="item-edit"
      [routerLink]="['edit', product.id]"
      (click)="onEditProduct(product)">
      <i class="material-icons">
        edit
      </i>
    </span>
    <span class="item-delete" (click)="onDeleteProduct()">
      <i class="material-icons">
        delete_forever
      </i>
    </span>
  </div>
</div>
