/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

$container-color: #444;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;

}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFF;
  font-size: 10px;
  background-color: rgba($container-color, .6);
}

.header {
  background-color: #FFFFF9;
  color: #212121;
  transition: all .5s;
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-expansion-indicator::after {
  border-color: #F2AF29;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #FFFFFF !important;
}

//help classes
.night-mode {
  background-color: #212121;
  color: #F4F9E9;
}

.night-mode-main {
  transition: all .5s;
  background-color: #303030;
}
//changes on Material Desing
.mat-drawer-backdrop.mat-drawer-shown {
  display: none;
}

//----------end of changes on Material Desing
//----------login & register page
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 64px);

  form {
    background-color: #212121;
    padding: 10px;
    min-height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);

    h2 {
      padding-bottom: 30px;
    }

    mat-form-field {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
    }

    button {
      width: 80%;
      background-color: #294936;
      margin-top: 1rem;
    }

    .register-btn {
      background-color: #2F6690;
    }

    .auth-option-link {
      box-sizing: border-box;
      padding: 20px;
      span {
        padding-right: 5px;
      }
      a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 0 5px 3px 5px;
        border-bottom: 1px solid transparent;
        font-size: 12px;
        transition: .5s linear;
      }

      a:hover {
        border-bottom: 1px solid #FFFFFF;
      }
    }
  }
}
//end of login & page container

//-----floating tool box

.floating-box-items {
  padding: 10px;
  text-align: right;
  color: #294936;
  font-size: .8rem;
  min-width: 250px;
  position: absolute;
  right: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  transition: all .5s;

  p {
    padding: 5px 10px;
  }

  .floating-box-items-list {
    list-style: none;

    li {
      border-bottom: 1px solid #294936;
      padding: 10px 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: transparent;
        max-width: 30px;
        outline: none;
        border: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        cursor: pointer;

      }

      h4 {
        font-weight: normal;
        padding-right: 10px;
      }
    }
  }

  .floating-box-toggler {
    width: 100%;
    margin-top: 1rem;
    background-color: #294936;
    color: #fff;
    text-align: center;
  }
}

.mat-dialog-container {
  background: #294936;
}

//help classes
.floating-box-items-hidden {
  opacity: 0;
  transition: all .5s;
  visibility: hidden;
}

.header-open {
  height: 54px !important;
  transition: all .5s;
}

.hidden {
  transition: all .5s;
 // visibility: hidden;
  display: none !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
//-----end of floating tool box

//delete modal
//.delete-modal{
//  .mat-dialog-container {
//    background-color:  #FF3C38;
//  }
//}
