<!--<p *ngIf="singleProduct.length">-->
  <!--{{singleProduct[0].name}}-->
  <!--{{singleProduct[0].id}}-->
  <!--{{singleProduct[0].description}}-->
  <!--{{singleProduct[0].color}}-->
  <!--{{singleProduct[0].price}}-->
<!--</p>-->


<div class="single-product" *ngIf="singleProduct.length">
  <div class="single-product-img">
    <div class="single-product-img-main" [ngStyle]="{'background-image': 'url(' + singleProduct[0].photos[mainPhotoIndex] + ')'}" (click)="openDialog()"></div>
    <div class="single-product-img-small">
      <div
        class="single-product-img-small-item"
        *ngFor="let photo of singleProduct[0].photos; let i = index;"

        [ngStyle]="{'background-image': 'url(' + photo + ')'}"
        (click)="onChangeMainPhoto(i)"
        ></div>
      <!--<div class="single-product-img-small-item"></div>-->
      <!--<div class="single-product-img-small-item"></div>-->
      <!--<div class="single-product-img-small-item"></div>-->
    </div>
  </div>

  <div class="single-product-info">
    <div class="single-product-info-name">
      <h2>{{singleProduct[0].name}}</h2>
    </div>

    <div class="single-product-info-detail">
      <div class="single-product-info-price spi-style">
        <span class="chip">
          <p>Price</p>
          <h2>{{singleProduct[0].price | floatNumber}} <p>PLN</p></h2>
        </span>

        <div class="product-rating chip">
          <i class="material-icons">
            star_rate
          </i>
          <i class="material-icons">
            star_rate
          </i>
          <i class="material-icons">
            star_rate
          </i>
          <i class="material-icons">
            star_rate
          </i>
          <i class="material-icons">
            star_rate
          </i>
        </div>
      </div>

      <div class="single-product-info-main spi-style">
        <span class="chip"><p>Color:</p> {{singleProduct[0].color}}</span>
        <span class="chip"><p>Type:</p> {{singleProduct[0].type}}</span>
      </div>
    </div>

    <div class="single-product-info-btn">
      <button mat-raised-button
              (click)="addProductToCart(singleProduct[0])">
        Add to cart
      </button>
    </div>

    <div class="single-product-info-desc">
      <span class="chip">
        <p>Description</p>
      </span>
      <p>{{singleProduct[0].description}}</p>

    </div>
    <div class="single-product-info-extras">sdfsdfa</div>
    <!--<h2>{{singleProduct[0].name}}</h2>-->
  </div>
</div>
