.product-rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  i {
    width: 24px;
    height: 24px;
  }
}

.single-product {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .chip {
    box-sizing: border-box;
    padding: .6rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    font-size: .9rem;

    p {
      color: #F2AF29;
      display: inline;
      box-sizing: border-box;
      padding-right: .3rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    h2 {
      p {
        font-size: .8rem;
      }
    }
  }

  .single-product-img {
    width: calc(55% - 16px);
    //min-height: calc(55vw / 1.618);
    display: flex;
    flex-direction: column;
    //background-color: #F2AF29;

    .single-product-img-main {
      min-height: calc(55vw / 1.618);
      width: 100%;
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;
      cursor: pointer;
    }

    .single-product-img-small {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-top: 1rem;

      .single-product-img-small-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: calc(95% / 4);
        height: 100px;
        //background-color: #F2AF29;
        cursor: pointer;
        margin-bottom: 7px;
      }
    }
  }

  .single-product-info {
    margin-top: 0;
    width: calc(45%);
    min-height: calc(45vw / 1.618);
    background-color: #303030;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: flex-start;
    padding: 1rem;
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.55);
    position: relative;

    .spi-style {
      //height: 150px;
      display: flex;
      flex-direction: column;
    }

    .single-product-info-name {
      width: 100%;
      text-align: center;
      h2 {
        font-size: 1.8rem;
        padding-bottom: 1rem;
      }
    }

    .single-product-info-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .single-product-info-price {
        .chip {
          p {
            padding-right: 0;
          }
          h2 {
            font-size: 2rem;
          }
        }
      }

      .single-product-info-main {
        text-align: right;
        align-items: flex-end;
      }
    }

    .single-product-info-btn {
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      button {
        background-color: #294936;
        width: 50%;
      }
    }

    .single-product-info-desc {
      //border-top: solid 1px #FFF;
      //background-color: #444444;
      width: 100%;
      //background-color: #294936;
       > p {
        box-sizing: border-box;
        text-align: center;
        font-size: 1rem;
         padding: 1rem .6rem;
      }
    }

    .single-product-info-extras {
      display: flex;
      background-color: #F2AF29;

      width: 100%;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
      flex-grow: 1;
    }
  }
}

@media only screen and (max-width: 768px) {
  .single-product {
    flex-direction: column;
    .single-product-img {
      width: 100%;
      height: calc(100vw / 1.618);
      flex-direction: row;
      .single-product-img-main {
        width: 80%;
        height: calc(100%);
      }

      .single-product-img-small {
        padding-top: 0;
        width: 20%;
        height: calc(100%);
        flex-direction: column;
        background-color: #F2AF29;
        background-color: #Fff;
        flex-wrap: nowrap;

        .single-product-img-small-item {
          background-size: contain;
          width: 100%;
          height: calc(100% / 4);
          margin-bottom: 0;

        }
      }
    }

    .single-product-info {
      margin-top: 1rem;
      width: 100%;
      min-height: calc(100vw / 1.618);

      //.single-product-info-price {
      //  width: 100%;
      //}
      //
      //.single-product-info-main {
      //  width: 100%;
      //}
      //.spi-style {
      //  min-height: 150px !important;
      //}
    }
  }
}
